[submodule "dots/.config/quickshell/ii/modules/common/widgets/shapes"]
	path = dots/.config/quickshell/ii/modules/common/widgets/shapes
	url = https://github.com/end-4/rounded-polygon-qmljs.git
[submodule "dots/.config/kitty/kitty-kitten-search"]
	path = dots/.config/kitty/kitty-kitten-search
	url = https://github.com/trygveaa/kitty-kitten-search
